:root {
    font-size: 62.5%;
}
body {
    background-image: url("images/background2.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
h3 {
    font-size: 4rem;
    color: #f4f7fa;
    font-weight: bold;
    margin-bottom: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2f3338;
}
h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #4a4e57;
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86,165,236,0.25);
    background-color: white;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-container-bool:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56A5EB;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
    color: #68717b;
}

.correct {
    background-color: #00c09d;
}

.incorrect {
    background-color: #d75466;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 15rem;
    height: 3rem;
    border: 0.3rem solid #56A5EB;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 2.4rem;
    background-color: #56A5EB;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56A5EB;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*TIMER*/